
# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=farm2home.support@gmail.com
SMTP_PASS=dgbmgatfdtpulbbk
EMAIL_FROM=farm2home.support@gmail.com
SMTP_SECURE=true

# Gemini API Key
GEMINI_API_KEY=AIzaSyAKlQzu8s33oICC8LLnhpPnGQZQTq26er0

# Supabase
SUPABASE_URL=https://lkczfhneaqadwydgcysw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrY3pmaG5lYXFhZHd5ZGdjeXN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NzEyMDMsImV4cCI6MjA4OTA0NzIwM30.Bo180txSX1ngI9PDJM86E9ukTYxAjCIypQVd-oqoRKU
SUPABASE_SERVICE_ROLE_KEY=